<p id="notice"><%= notice %></p>

<h1>Db Tree Views</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @db_tree_views.each do |db_tree_view| %>
      <tr>
        <td><%= link_to 'Show', db_tree_view %></td>
        <td><%= link_to 'Edit', edit_db_tree_view_path(db_tree_view) %></td>
        <td><%= link_to 'Destroy', db_tree_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Db Tree View', new_db_tree_view_path %>
