<%= javascript_pack_tag 'main' %>

<div class="container">
  <div class="tree-wrapper-container">
    <div class="tree-wrapper">
      <div class="tree-wrapper-header">
        <h3>DBTreeView</h3>
      </div>
      <div id='db-tree'
           data-nodes-url="<%= db_tree_views_url %>"
           data-apply-changes-url = <%= apply_changes_db_tree_views_url %>
      ></div>
    </div>
  </div>

  <button class="add-node-to-cached" title="Добавить запись в кэш">>>></button>

  <div class="tree-wrapper-container">
    <div class="tree-wrapper">
      <div class="tree-wrapper-header">
        <h3>CachedTreeView</h3>
      </div>
      <div id='cached-tree'
           data-nodes-url="<%= cached_tree_views_url %>"
           data-create-url="<%= cached_tree_views_url %>"
      ></div>
    </div>
    <div class="tree-wrapper-container-footer">
      <button class="rename-node-btn">
        <i class="fa fa-pencil" title="Редактировать"></i>
      </button>
      <button class="add-child-node-btn">
        <i class="fa fa-plus" title="Добавить потомка"></i>
      </button>
      <button class="remove-child-node-btn">
        <i class="fa fa-trash" title="Удалить элемент"></i>
      </button>
      <button class="apply-changes-btn" title="Применить изменения">
        <i class="fa fa-check"></i>
        Применить
      </button>
      <button class="reset-btn"
              title="Сбросить до начального состояния"
              data-reset-path="<%= home_reset_url %>"
      >
        <i class="fa fa-sync"></i>
        Сбросить
      </button>
    </div>
  </div>
</div>
